:root {
	--body_bg: #3914AF;
	--border: #3914AF;
	--Main_bg_color: #0773A1 ;
	--Main_text_color: #FFE463 ;
	--selected: orange;
	--Secondary_bg_color: #241414 ;

	--footer :#160D18;
	--h1: 35px;
	--h2: 30px;
	--h3: 25px;
	--h4: 20px;
	--h5: 15px;
	--h6: 10px;
}

/*set font family*/
h1, h2, h3, h4, h5, h6, strong,*{
	color: var(--Main_text_color);
	font-family: sans-serif;
	font-weight: 500;
	margin: 0px;
}

h1{	font-size: var(--h1);}
h2{	font-size: var(--h2);}
h3{	font-size: var(--h3);}
h4{	font-size: var(--h4);}
h5{	font-size: var(--h5);}
h6{	font-size: var(--h6);}

body{
	background: var(--body_bg) ;
	padding: 30px;
	margin: 0px;
}


.navbar{
	display: block;
	background: var(--Main_bg_color);
	border: 2px solid var(--border);
	border-radius:10px 10px 0 0;
	margin: 0px;
	padding: 0px;
}

.navbar-items{
	display: inline-block;
	list-style: none;
	padding: 20px;

}
.navbar-items:hover{
	background: var(--selected);
	color: var(--body_bg);
	cursor: pointer;
}


.section-main{
	background: var(--Main_bg_color);
	border: 1px solid var(--border);
	min-height: 300px;
}
.main-wrapper{
	padding: 20px;
}

.jsonsender-wrapper{
	padding: 20px;
	text-align: center;
	border: 1px solid var(--border);
}

.section-footer{
	background: var(--Main_bg_color);
	border: 1px solid var(--border);
	border-radius:0 0 10px 10px;
	/*min-height: 100px;*/
}
.footer-wrapper{
	padding: 5px;
	text-align:center;
}

